# Limpeza, Manipulacao e Visualizacao

In [8]:
import pandas as pd

url = "https://raw.githubusercontent.com/turicas/rows/refs/heads/develop/examples/data/brazilian-cities.csv"

#carrega csv para um dataframe
cidades = pd.read_csv(url)

#visualiza as primeiras linhas
cidades.head()

  state          city  inhabitants     area
0    AC    Acrelândia        12538  1807.92
1    AC  Assis Brasil         6072  4974.18
2    AC     Brasiléia        21398  3916.50
3    AC        Bujari         8471  3034.87
4    AC      Capixaba         8798  1702.58

In [9]:
#numero de linhas da tabela
len(cidades)

5565